body {
    margin: auto;
    width: 90%;
    font-family: 'Times New Roman', 'Times', 'Serif';
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px
}

a {
    text-decoration: none;
    color: #6000ff;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 300%;
    font-family: 'Computer Modern', 'Times New Roman', 'Times', 'Serif';
}

h2 {
    font-size: 200%;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

h3 {
    font-size: 125%;
    font-family: 'Times New Roman', 'Times', 'Serif';
}

h4 {
    font-size: 100%;
    font-family: 'Times New Roman', 'Times', 'Serif';
}

p {
    font-size: 100%;
}

nav {
    font-size: 120%;
}

footer {
    border-top: 2px solid #ccc;
    font-size: 80%;
}

ul.posts {
    padding-left: 0;
    font-size: 100%;
}

ul.posts li {
    list-style: none;
}

img {
    width: 85vw;
    max-width: 500px;
    height: auto;
}

details summary {
    cursor: pointer;
}

form {
    margin: 20px auto;
}

/* Partially stolen from https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas */
.dropbox {
    width: 100%;
    min-height: 10em;
    display: grid;
}

.dropbox::after {
    /* Note the weird space! Needed to preventy jumpy behavior */
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.dropbox > textarea {
    /* You could leave this, but after a user resizes, then it ruins the auto sizing */
    resize: none;

    /* Firefox shows scrollbar on growth, you can hide like this. */
    overflow: hidden;
}

.dropbox > textarea, .dropbox::after {
    /* Identical styling required!! */
    padding: 0.5rem;
    font: inherit;

    /* Place on top of each other */
    grid-area: 1 / 1 / 2 / 2;
}
